<div class="page_box">
	<div class="content_title">哪位英雄好漢?(點擊進入)</div>
	<form id="frm_who" class="cansubmit">
		<ul id="list_players">
			<li data-pid="-1">
				<div>
					<img class="player" src="./resources/images/smile.png">				
				</div>
				<div>訪客</div>	
			
			</li>
			#foreach($p in $playerList)
			<li data-pid="${p.id}">				
				<div>
					<img class="player" src="./resources/images/${p.id}.jpg">				
				</div>
				<div>$esc.html(${p.name})</div>				
			</li>			
			#end
		
		</ul>
		<input name="pid" id="ipt_pid" style="display:none;" />
	
	</form>
</div>



<script>
	$(function(){
		$("#list_players").on("click","li",function(){
			$("#ipt_pid").val($(this).data("pid"));
			$("#frm_who").submit();
		});
	});


</script>
