<div class="page_box">
	<div class="content_title">哪位英雄好漢?(點擊進入)</div>
	
	<ul id="list_players">
		<li data-pid="-1">
			<div>
				<img class="player" src="./resources/images/smile.png">				
			</div>
			<div>訪客</div>	
		
		</li>
		#foreach($p in $playerList)
		<li data-pid="${p.id}">				
			<div>
				<img class="player" src="./resources/images/${p.id}.jpg">				
			</div>
			<div>$esc.html(${p.name})</div>				
		</li>			
		#end
	
	</ul>
		
	

</div>



<script>
	$(function(){
		$("#list_players").on("click","li",function(){
			$.ajax({
					url: "./login",
					type: "GET",
					data:{
						"pid": $(this).data("pid")
					},
					dataType:"json"
				}).done(function(){
					document.location.href="./analyzes.show";
				
				});
			
			
		});
	});


</script>
