



<div class="page_box">
	<div class="content_title">成員管理</div>
	<fieldset class="fld_frm">
		<legend>
			新增成員
		</legend>
		<form id="frm_addmember">
			<span>Name: </span>
			<input type="text" id="ipt_name"/>
			<span class="btn btn_submit" id="btn_addmember">Add</span>
		</form>
	</fieldset>
	
	<table id="tbl_members" >		
	</table>
</div>
<script>
	## $memberJSONList is a model attribute
	var members = $memberJSONList;			
#[[ 	
	$(function(){
		var tblMembers = $("#tbl_members");		
		var curRow = null;
		tblMembers.dataTable({
			"aaData": members, 
			"aoColumns":[				
				{"sTitle" : "Player ID","mData":"id"},
				{"sTitle" : "Photo","mData":function(data){
					return '<img src="./resources/images/' + data.id + '.jpg" class="player" />'	
				},"sClass" : "td_photo"},
				{"sTitle" : "Name" ,"mData":"name","sClass" : "td_name"},
				{"sTitle" : "Edit", "sDefaultContent": "<span class='btn edit'>Edit</span>" ,"sClass" : "td_edit"}
			],
			"bLengthChange" : false,
			"bAutoWidth": true,
			"iDisplayLength": 20,
			"oLanguage":{
				"sInfo": "第_START_至_END_位成員，總計_TOTAL_員",
				"sInfoFiltered": "全員_MAX_員",
				"sInfoEmpty": "條件內無人員"
			}
		});	
		tblMembers.on("click","span.btn",function(){
			var tmp = $(this);
			var oTable = tblMembers.dataTable();									
			var nRow = tmp.closest("tr")[0];			
			if (tmp.is(".edit")){
				editRow(oTable, nRow);	
			}else if(tmp.is(".save")){
				saveRow(oTable, nRow);				
			}						
		}).on("change","input.ipt_upload",function(){
			var oTable = tblMembers.dataTable();	
			var tmp = $(this);
			var nRow = tmp.closest("tr")[0];						
			var formData = new FormData($(this).closest("form")[0]);
			$.ajax({
		        url: "./uploadimage", 
		        type: 'POST',		               		       
		        data: formData,		       
		        cache: false,
		        contentType: false,
		        processData: false
		    }).fail(function(){
		    	alert("上傳檔案失敗");
		    }).always(function(){
		    	oTable.fnUpdate(oTable.fnGetData(nRow),nRow)
		    	.fnDraw();				
		    });
		});
		$("#btn_addmember").click(function(){
			var curName = $("#ipt_name").val();
			if (!curName){				
				return ;
			}
			$.ajax({
				url: "./addplayer",
				type: "POST",
				data:{
					"name" : curName
				},
				dataType:"json"
			}).done(function(result){
				if(result.success){
					var oTable = tblMembers.dataTable();			 			 
					oTable.fnAddData([result.value]);
					oTable.fnSort( [ [0,'desc']] );	
				}else{
					alert("新增成員失敗!");
				}					
			}).fail(function(){
				alert("error!!");
			});
			
			
									
							
		});		
		function editRow(oTable, nRow){
			if (curRow){
				oTable.fnUpdate(oTable.fnGetData(curRow),curRow);
				oTable.fnDraw();
			}
			curRow = nRow;			
			
			var aData = oTable.fnGetData(nRow);
			$(nRow).find("td.td_name").html('<input type="text" class="ipt_name" value="'+ aData.name +'">')
			.siblings("td.td_edit").html("<span class='btn save'>Save</span>")	
			.siblings("td.td_photo").html('<form enctype="multipart/form-data">' + 
					'<input name="file" type="file" class="ipt_upload"/>' + 
					'<input style="display:none;" name="id" value="'+ aData.id + '"/></form>');
		}
		function saveRow(oTable, nRow){
			var aData = oTable.fnGetData(nRow);						
			var inputName = $.trim($("input.ipt_name",nRow).val());
			if (aData.name != inputName){												
				$.ajax({
					url: "./updateplayer",
					type: "POST",
					data:{
						"name" : inputName,
						"id" : aData.id
					},
					dataType:"json"
				}).done(function(result){
					if(result.success){
						aData.name = inputName;							
					}else{
						alert("更新成員失敗!");
					}					
				}).fail(function(){
					alert("Server error");
				}).always(function(){
					oTable.fnUpdate(aData,nRow);
					oTable.fnDraw();
				});
			
			}else{
				oTable.fnUpdate(aData,nRow);
				oTable.fnDraw();				
			}
			
		}
	});
]]#	
	
	
</script>
