<div id="wb_mark" class="left" >Badminton</div>
<ul id="menu_header" class="left">	
	<li><a href="./analyzes.show">統計分析</a></li>
	
	<li><a href="./records.show">比賽紀錄管理</a></li>	
	<li><a href="./attendance.show">出席紀錄管理</a></li>
	<li><a href="./players.show">成員管理</a></li>	
	#if($user)
	<li style="margin-left:50px;">
		<div id="box_hello">
			<span>HI!&nbsp;&nbsp;</span>			
			<img class="player" src="./resources/images/${user.id}.jpg">
			<span>$esc.html(${user.name})</span>	
		</div>								
	</li>	       
	#end
</ul>



